{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">A Free Bootstrap 4 Business Theme</span>
    <span class="site-heading-lower">Business Casual</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{path('index')}}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{path('about')}}">About</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{path('products')}}">Products</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{{path('store')}}">Store</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="btn btn-dark" href="{{path('login')}}">Login</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="btn btn-success" href="{{path('register')}}">Register</a>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
              <form method="post">
                  {% if error %}
                      <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                  {% endif %}

                  {% if app.user %}
                      <div class="mb-3">
                          You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                      </div>
                  {% endif %}

                  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                  <label for="inputEmail">Email</label>
                  <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                  <label for="inputPassword">Password</label>
                  <input type="password" name="password" id="inputPassword" class="form-control" required>

                  <input type="hidden" name="_csrf_token"
                         value="{{ csrf_token('authenticate') }}"
                  >

                  {#
                      Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                      See https://symfony.com/doc/current/security/remember_me.html
                    #}
                      <div class="checkbox mb-3">
                          <label>
                              <input type="checkbox" name="_remember_me"> Remember me
                          </label>
                      </div>


                  <button class="btn btn-lg btn-primary" type="submit">
                      Sign in
                  </button>
              </form>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer text-faded text-center py-5">
      <div class="container">
        <p class="m-0 small">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>



{% endblock %}
